<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Socialent</title>
    <link rel="icon" href="/images/SocialentLogo.png" type="image/icon">

    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/home.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="background"></div>

    <!-- Custom alert() html -->
    <div id="customAlert">
      <div class="alert">
          <h1>This is a warning!</h1>
          <i class="fas fa-info"></i>
          <button>Ok</button>
      </div>
  </div>
    
    <!-- Warning alerts -->
    <div id="warnAlerts">

      <!-- Example warnings -->
      <!-- <div class="warning">
        <h1>This is a warning!</h1>
        <i class="warn-icon fas fa-exclamation"></i>
        <button>Dismiss</button>
      </div> -->

    </div>
    <%- include('partials/proxy') %>
    <!-- Start of posts -->
    <div class="all-posts">
      <% postsFollowing.reverse().forEach(post => { %>
      <div data-post-id="<%= post._id %>" class="post-cont">
        <a
          href="/account/<%= post.author.username %>?k=<%= user._id %>"
          class="author"
          data-author-id="<%= post.author._id %>"
        >
          <div class="author-img-place">
            <img
              class="author-img"
              src="<% if (post.author.profileImg === 'none') { %>
            /images/profilePlaceholder.svg
          <% } else {  %>
            <%= post.author.profileImg %> 
          <% } %> "
              alt="Profile Picture"
            />
          </div>  
            
          <%= post.author.username %>
        </a>

        <!-- prettier-ignore -->
        <% if (JSON.stringify(post.author._id) === JSON.stringify(user._id)) { %>
        <!-- Delete post menu -->
        <div class="open-delete-post-menu" data-post-id="<%= post._id %>">
          <i class="fas fa-ellipsis-h"></i>
        </div>
        <div data-post-id="<%= post._id %>" class="delete-post-menu">
          <div data-post-id="<%= post._id %>" class="delete-post">
            Delete post
          </div>
        </div>
        <% } %>

        <!-- Post img -->
        <div class="post-img">
          <% if (post.urlType === 'image') { %>
          <img data-post-id="<%= post._id %>" loading='lazy' src="<%= post.url %> " alt="Post" />
          <% } else if (post.urlType === 'video') {%>
          <video loading='lazy'  preload="auto" playsinline loop data-post-id="<%= post._id %>">
            <source src="<%= post.url %>" />
          </video>
          <div class="play-btn" data-post-id="<%= post._id %>">
            <i class="fas fa-play"></i>
          </div>

          <% } %>
        </div>
        <div class="bottom-btns" data-post-id="<%= post._id %>" data-author-id="<%= post.author._id %>">
          <div class="like-btn">
            <!-- prettier-ignore -->
            <i
          data-post-id="<%= post._id %>" <% if (post.likes.includes(user._id)) {%> style="color: red;" data-post-liked="true" <% } %>  class="fas fa-heart"></i>
            <p data-post-id="<%= post._id %>">
              <%= post.likes.length %> <% if (post.likes.length === 1) { %> Like
              <% } else { %> Likes <% } %>
            </p>
          </div>
          <div class="share-btn">
            <i data-post-id="<%= post._id %>" class="fas fa-share"></i>
            <p class="copy-post" data-post-id="<%= post._id %>">
              Copied post link to clipboard!
            </p>
          </div>
            
          <!-- Admin Delete post example -->
          <!-- <div class="admin-delete-btn">
            <i data-post-id="<%= post._id %>" class="fas fa-ban"></i>
          </div> -->

        </div>
        <div class="description">
          <b><%= post.author.username %></b> &nbsp; <%=
          JSON.stringify(post.description) %>
        </div>
        <div class="view-comments">
          <p data-post-id="<%= post._id %>" class="view-comments-btn c">
            View <% if (post.comments.length !== 1) {%>all<% } %> <%=
            post.comments.length %> comment<% if (post.comments.length !== 1)
            {%>s<% } %>
          </p>
        </div>
        <div class="date-created">
          <p><%= (new Date(post.date).toLocaleDateString()) %></p>
        </div>
        <div class="add-comment">
          <input
            data-post-id="<%= post._id %>"
            type="text"
            placeholder="Add a comment..."
          />
          <i
            data-post-id="<%= post._id %>"
            class="submit-comment fas fa-arrow-circle-up"
          ></i>
        </div>
        <div data-post-id="<%= post._id %>" class="all-comments">
          <h1>&nbsp;All Comments:</h1>
          <hr />
          <div data-post-id="<%= post._id %>" class="comments-area">
            <% post.comments.reverse().forEach(comment => {%>
            <div class="comment">
              <b><%= comment.username %></b>&nbsp;<%= comment.value %>
              <p class="comment-date"><%= comment.date %></p>
            </div>
            <hr class="light-hr" />
            <% }) %>
          </div>

          <span><span></span></span>
        </div>
      </div>
      <% }) %> <% if (postsFollowing.length == 0) {%>
      <h1 id="noPosts">
        Create a post or start following people to see posts here!
      </h1>
      <% } %>
    </div>

    <%- include('partials/sideNavBar') %> <%- include('partials/footer') %>
    
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/deviceverification.js"></script>
    <script src="/assets/js/home.js"></script>
    <% if (user.rank == 'admin' || user.rank == 'owner') {%>
      <%- include('partials/adminControls') %>
    <% } %>
  </body>
</html>
