<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home - Socialent</title>
    <link rel="icon" href="/images/SocialentLogo.svg" type="image/icon">

    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/home.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />

    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/images/icons/icon-192-192.png">
    <meta name="theme-color" content="#000000"/>

    <script src="/socket.io/socket.io.js" ></script>
  </head>
  <body>
    <div id="background"></div>

    <!-- Custom alert() html -->
    <div id="customAlert">
      <div class="alert">
          <h1>This is a warning!</h1>
          <i class="fas fa-info"></i>
          <button>Ok</button>
      </div>
  </div>
    
    <!-- Warning alerts -->
    <div id="warnAlerts">

      <!-- Example warnings -->
      <!-- <div class="warning">
        <h1>This is a warning!</h1>
        <i class="warn-icon fas fa-exclamation"></i>
        <button>Dismiss</button>
      </div> -->

    </div>

    <div id="bookmarkScripts">
      <i id="bookmarkScriptsIcon" class="fas fa-bookmark"></i>
      <h1 style="font-size: 20px; margin-right: 30px;">Bookmark Scripts:</h1>
      <div id="bookmarkIcons">
        <a class="d-back" href="javascript: (async function() {
          const id = window.location.href.split('/')[window.location.href.split('/').length - 2];
          const initRes = await fetch('https://edpuzzle.com/api/v3/assignments/' + id + '/attempt', {
            method: 'GET',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json',
            }
          });
          
          const initData = await initRes.json();
          const mediaID = initData.mediaID;
          console.log(mediaID);

          const styling = document.createElement('style');
          styling.innerHTML = '    #mainDiv {    transition: transform 0.3s ease;    transform: translateY(100%);}    #mainDiv.active {    transform: translateY(0);}    #openCloseBtn {    position: absolute;   color: white;   top: -50px;    left: 10px;    padding: 10px 20px;    display: flex;    justify-content: center;    align-items: center;    font-size: 15px;    background-color: black;    border: 2px solid white;    border-radius: 10px;}    ';
          const node = document.createElement('div');
          node.id = 'mainDiv';
          node.style = 'width: 100%; height: 90%; position: fixed; bottom: 0; left: 0; background-color: white; z-index: 100;';
          node.innerHTML = '<iframe id=\'cheatFrame\' style=\'width: 100%; height: 100%;\' >Something went wrong... Consider trying again</iframe>';
          const btnNode = document.createElement('button');
          btnNode.id = 'openCloseBtn';
          btnNode.innerText = 'Edpuzzle Menu';
          btnNode.addEventListener('click', () => {
              document.getElementById('mainDiv').classList.toggle('active');
          });
          document.getElementsByTagName('head')[0].appendChild(styling);
          node.appendChild(btnNode);
          document.body.appendChild(node);
          document.getElementById('cheatFrame').src = `https://www.socialentapp.com/edpuzzle?id=${mediaID}`;
      })();"><img src="/images/bookmarkScripts/edpuzzleIcon.png" alt="Edpuzzle Menu"></a>
        <a class="d-back" href="javascript: (function() {
          const styling = document.createElement('style');
          styling.innerHTML = '    #mainDiv {    transition: transform 0.3s ease;    transform: translateY(100%);}    #mainDiv.active {    transform: translateY(0);}    #openCloseBtn {    position: absolute;   color: white;   top: -50px;    left: 10px;    padding: 10px 20px;    display: flex;    justify-content: center;    align-items: center;    font-size: 15px;    background-color: black;    border: 2px solid white;    border-radius: 10px;}    ';
          const node = document.createElement('div');
          node.id = 'mainDiv';
          node.style = 'width: 100%; height: 90%; position: fixed; bottom: 0; left: 0; background-color: white; z-index: 100;';
          node.innerHTML = '<iframe style=\'width: 100%; height: 100%;\' src=\'https://www.socialentapp.com/kahoot\' >Something went wrong... Consider trying again</iframe>';
          const btnNode = document.createElement('button');
          btnNode.id = 'openCloseBtn';
          btnNode.innerText = 'Kahoot Menu';
          btnNode.addEventListener('click', () => {
              document.getElementById('mainDiv').classList.toggle('active');
          });
          document.getElementsByTagName('head')[0].appendChild(styling);
          node.appendChild(btnNode);
          document.body.appendChild(node);
      })();"><img src="/images/bookmarkScripts/kahootIcon.png" alt="Kahoot Menu"></a>
      
      </div>
    </div>

    <!-- Start of posts -->
    <div class="all-posts">
      <% postsFollowing.reverse().forEach(post => { %>
      <div data-post-id="<%= post._id %>" class="post-cont">
        <a
          href="/account/<%= post.author.username %>"
          class="author"
          data-author-id="<%= post.author._id %>"
        >
          <div class="author-img-place">
            <img
              class="author-img"
              src="<% if (post.author.profileImg === 'none') { %>
            /images/profilePlaceholder.svg
          <% } else {  %>
            <%= post.author.profileImg %> 
          <% } %> "
              alt="Profile Picture"
            />
          </div>  
            <% if (post.author.prefix.title) {%>
              <%if (post.author.rank === 'owner') {%>
                <p class="prefix owner">[<%= post.author.prefix.title %>]</p>&nbsp;
              <%} else if (post.author.rank === 'admin') {%>
                <p class="prefix admin">[<%= post.author.prefix.title %>]</p>&nbsp;
              <%} else {%>
                <p class="prefix">[<%= post.author.prefix.title %>]</p>&nbsp;
              <%}%> 
            <% } %>
            <p><%= post.author.username %></p>
          <% if (post.author.verified) { %>
            <img class="verified" style="margin-left: 5px; height: 12px; width: 12px;" src="/images/verified.svg" alt="verifiedIcon">
          <% } %>
        </a>

        <!-- prettier-ignore -->
        <% if (JSON.stringify(post.author._id) === JSON.stringify(user._id)) { %>
        <!-- Delete post menu -->
        <div class="open-delete-post-menu" data-post-id="<%= post._id %>">
          <i class="fas fa-ellipsis-h"></i>
        </div>
        <div data-post-id="<%= post._id %>" class="delete-post-menu">
          <div data-post-id="<%= post._id %>" class="edit-post post-menu-item">
            Edit
          </div>
          <div data-post-id="<%= post._id %>" class="delete-post post-menu-item">
            Delete post
          </div>
        </div>
        <% } %>

        <!-- Post img -->
        <div class="post-img">
          <% if (post.urlType === 'image') { %>
          <img data-post-id="<%= post._id %>" loading='lazy' src="<%= post.url %> " alt="Post" />
          <% } else if (post.urlType === 'video') {%>
          <video loading='lazy'  preload="auto" playsinline loop data-post-id="<%= post._id %>">
            <source src="<%= post.url %>" />
          </video>
          <div class="play-btn" data-post-id="<%= post._id %>">
            <i class="fas fa-play"></i>
          </div>

          <% } %>
        </div>
        <div class="bottom-btns" data-post-id="<%= post._id %>" data-author-id="<%= post.author._id %>">
          <div class="like-btn">
            <!-- prettier-ignore -->
            <i
          data-post-id="<%= post._id %>" <% if (post.likes.includes(user._id)) {%> style="color: red;" data-post-liked="true" <% } %>  class="fas fa-heart"></i>
            <p data-post-id="<%= post._id %>">
              <%= post.likes.length %> <% if (post.likes.length === 1) { %> Like
              <% } else { %> Likes <% } %>
            </p>
          </div>
          <div class="share-btn">
            <i data-post-id="<%= post._id %>" class="fas fa-share"></i>
            <p class="copy-post" data-post-id="<%= post._id %>">
              Copied post link to clipboard!
            </p>
          </div>
            
          <!-- Admin Delete post -->
          <% if (user.rank == 'admin' || user.rank == 'owner') { %>
          <div class="admin-delete-btn" onclick="adminDeletePost('<%= post._id %>', '<%= user._id %>', '<%= post.author._id %>')">
            <i data-post-id="<%= post._id %>" class="fas fa-ban"></i>
          </div>
          <% } %>
          

        </div>
        <div class="description">
          <b class="descUsername"><%= post.author.username %></b> &nbsp; 
          <p class="descText" data-post-id="<%= post._id %>">
            <%= JSON.stringify(post.description) %>
          </p>
        </div>
        <div class="view-comments">
          <p data-post-id="<%= post._id %>" class="view-comments-btn c">
            View <% if (post.comments.length !== 1) {%>all<% } %> <%=
            post.comments.length %> comment<% if (post.comments.length !== 1)
            {%>s<% } %>
          </p>
        </div>
        <div class="date-created">
          <p><%= (new Date(post.date).toLocaleDateString()) %></p>
        </div>
        <div class="add-comment">
          <input
            data-post-id="<%= post._id %>"
            type="text"
            placeholder="Add a comment..."
          />
          <i
            data-post-id="<%= post._id %>"
            class="submit-comment fas fa-arrow-circle-up"
          ></i>
        </div>
        <div data-post-id="<%= post._id %>" class="all-comments">
          <h1>&nbsp;All Comments:</h1>
          <hr />
          <div data-post-id="<%= post._id %>" class="comments-area">
            <% post.comments.reverse().forEach(comment => {%>
            <div class="comment">
              <b><%= comment.username %></b>&nbsp;<%= comment.value %>
              <p class="comment-date"><%= comment.date %></p>
            </div>
            <hr class="light-hr" />
            <% }) %>
          </div>

          <span><span></span></span>
        </div>
      </div>
      <% }) %> <% if (postsFollowing.length == 0) {%>
      <h1 id="noPosts">
        Create a post or start following people to see posts here!
      </h1>
      <% } %>
    </div>

    <div id="editDescriptionBody" data-post-id="">
      <textarea name="editDescriptionTextarea" id="editDescriptionTextarea" cols="30" rows="10" placeholder="Description..."></textarea>
      <div class="edit-desc-btns">
        <button id="editDescCancel">Cancel</button>
        <button id="editDescSubmit">Submit</button>
      </div>
    </div>

    <%- include('partials/sideNavBar') %> <%- include('partials/footer') %>
    <script type="text/javascript" src="/assets/js/main.js"></script>
    <script type="text/javascript" src="/assets/js/home.js"></script>
    <% if (user.rank == 'admin' || user.rank == 'owner') {%>
      <a id="adminLink" href="/admin"><i class="fas fa-user-lock"></i></a>
    <% } %>
  </body>
</html>
