<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post - Socialent</title>
    <link rel="icon" href="/images/SocialentLogo.svg" type="image/icon">

    <link rel="stylesheet" href="/assets/css/post.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />

    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/images/icons/icon-192-192.png">
    <meta name="theme-color" content="#000000"/>

    <script src="/socket.io/socket.io.js" ></script>
  </head>
  <body>
    <div id="background"></div>

    <!-- Custom alert() html -->
    <div id="customAlert">
      <div class="alert">
          <h1>This is a warning!</h1>
          <i class="fas fa-info"></i>
          <button>Ok</button>
      </div>
  </div>

    <!-- POST Content -->
    <div id="postCont">
      <div id="imgCont">
        <% if (post.urlType === 'image') { %>
        <img src="<%= post.url %>" alt="Post Image" />
        <% } else if (post.urlType === 'video') {%>
        <video playsinline loop id="video"  preload="auto">
          <source src="<%= post.url %>" />
        </video>
        <div id="playBtn">
          <i class="fas fa-play"></i>
        </div>
        <% } %>
      </div>

      <div id="postInfo">
        <!-- Username -->
        <div id="username" data-author-id="<%= post.author._id %>">
          <div id="authorImgPlace">
            <img
            src="<% if (post.author.profileImg === 'none') { %>
              /images/profilePlaceholder.svg
            <% } else {  %>
              <%= post.author.profileImg %> 
            <% } %> "
              alt="Profile Image"
            />
          </div>
          <% if (post.author.prefix.title) {%>
            <%if (post.author.rank === 'owner') {%>
              <p style="margin-left: 5px; margin-right: -10px;" class="prefix <%= account.prefix.color %> owner">[<%= post.author.prefix.title %>]</p>&nbsp;
            <%} else if (post.author.rank === 'admin') {%>
              <p style="margin-left: 5px; margin-right: -10px;" class="prefix <%= account.prefix.color %> admin">[<%= post.author.prefix.title %>]</p>&nbsp;
            <%} else {%>
              <p style="margin-left: 5px; margin-right: -10px;" class="prefix <%= post.author.prefix.color %>">[<%= post.author.prefix.title %>]</p>&nbsp;
            <%}%> 
          <% } %>
          <h1><%= post.author.username %></h1>
          <% if (post.author.verified) { %>
            <img class="verified" style="margin-left: 5px; height: 12px; width: 12px;" src="/images/verified.svg" alt="verifiedIcon">
          <% } %>
        </div>
        <% if (loggedin && JSON.stringify(user._id) === JSON.stringify(post.author._id)) { %>
        <!-- Delete post menu -->
        <div class="open-delete-post-menu">
          <i class="fas fa-ellipsis-h"></i>
        </div>
        <div data-post-id="<%= post._id %>" class="delete-post-menu" tabindex="-1">
          <div data-post-id="<%= post._id %>" class="edit-post post-menu-item">
            Edit
          </div>
          <div data-post-id="<%= post._id %>" class="delete-post post-menu-item">
            Delete post
          </div>
        </div>
        <% } %>

        <!-- Comments -->
        <div id="commentsCont">
          <% post.comments.reverse().forEach(comment => { %>
          <div class="comment">
            <p><b><%= comment.username %></b> <%= comment.value %></p>
            <span><%= comment.date %></span>
          </div>
          <% }) %>
        </div>
        <div id="likeAndShare">
          <% if (loggedin) { %>
          <div id="likeBtn">
            <!-- prettier-ignore -->
            <i class="fas fa-heart" data-post-id="<%= post._id %>" <% if (likedpost) { %>
              data-post-liked="true" style="color: red;" <% } else {%>
              data-post-liked="false" style="color: #c4c4c4;" <% } %>></i
            >
            <!-- prettier-ignore -->
            <p><%= post.likes.length %> <% if (post.likes.length === 1) { %> Like<% } else { %> Likes <% } %></p>
          </div>
          <% } %>
          <div id="shareBtn">
            <i data-post-id="<%= post._id %>" class="fas fa-share"></i>
            <p>Copied post link to clipboard!</p>
          </div>
        </div>
        <div id="description">
          <b class="descUsername"><%= post.author.username %></b> &nbsp; 
          <p class="descText" data-post-id="<%= post._id %>">
            <%= JSON.stringify(post.description) %>
          </p>
        </div>
        <div id="postDate"><%= (new Date(post.date).toLocaleDateString()) %></div>
        <% if (loggedin) { %>
        <div id="addAComment">
          <input type="text" id="commentInput" placeholder="Add a comment..." />
          <i class="fas fa-arrow-circle-up" id="submitComment"></i>
        </div>
        <% } else { %>
        <a
          href="/login?rd=post/<%= post._id %>"
          style="
            color: #0f4c75;
            position: absolute;
            bottom: 15px;
            left: 50%;
            transform: translateX(-50%);
          "
          >Log in!</a
        >
        <% } %>
      </div>
    </div>

    

    <% if (loggedin) { %>
      
      <div id="editDescriptionBody" data-post-id="">
        <textarea name="editDescriptionTextarea" id="editDescriptionTextarea" cols="30" rows="10" placeholder="Description..."></textarea>
        <div class="edit-desc-btns">
          <button id="editDescCancel">Cancel</button>
          <button id="editDescSubmit">Submit</button>
        </div>
      </div>
      
    <%- include('partials/sideNavBar') %> <% } %> <%- include('partials/footer')
    %>

    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/post.js"></script>
  </body>
</html>
